! urxvt

URxvt*geometry:                115x35
! URxvt*font: xft:Inconsolata:pixelsize=15:antialias=true:hinting=true
! URxvt*boldFont: xft:Inconsolata:bold:pixelsize=15:antialias=true:hinting=true
URxvt*font: xft:Source Code Pro:pixelsize=13:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro:bold:pixelsize=13:antialias=true:hinting=true
URxvt*depth:                24
URxvt*borderless: 1
URxvt*scrollBar:            false
! URxvt.transparent:      true
! URxvt*.shading: 10
URxvt.letterSpace: 0
URxvt.lineSpace: 1

! URxvt.fading: 15

URxvt*saveLines:  50000
xterm*loginShell: true
xterm*eightBitInput: false
xterm*termName: xterm-color

URxvt.keysym.C-plus:  font-size:increase
URxvt.keysym.C-minus: font-size:decrease

! Meta modifier for keybindings
!URxvt.modifier: super

!! perl extensions
! URxvt.perl-ext:             default,url-select,clipboard

! url-select (part of urxvt-perls package)
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy

! disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 5
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

notifications-color-bar-filled: nord4
notifications-color-bar-empty:  nord3
notifications-color-muted:  #C0C5CE

